@import '_vars';

// Основные стили страницы
body {
	font-family: 'Georgia', sans-serif;
	// overflow:hidden;
	padding: 1.25rem;
	background-color: var(--primary-color);
}

.no__tasks {
	font-size: calc(var(--clamp-font-size) * 0.8);
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 0.7rem;
	animation: scaleTo 0.25s ease;
	display: block;
	&.hidden {
		display: none;
	}
}
@keyframes scaleTo {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.project__title {
	text-align: center;
	margin-bottom: 1.25rem;
	font-size: var(--clamp-font-size);
}
