#task-form {
	display: flex;
	flex-direction: column;
	margin: 0 auto 1.25rem;
	gap: 0.65rem;
	max-width: clamp(30%, 75vw, 400px);

	input[type='text'],
	textarea {
		padding: 10px;
		font-size: var(--font-size);
		border: 1px solid var(--secondary-color);
		border-radius: var(--border-radius);
		resize: none;
	}

	button[type='submit'] {
		padding: 10px;
		font-size: var(--font-size);
		display: flex;
		background-color: var(--secondary-color);
		align-self: flex-end;
		color: white;
		border: none;
		border-radius: var(--border-radius);
		cursor: pointer;
		transition: background-color 0.25s ease;
		&:hover {
			background-color: var(--darken-secondary-color);
		}
	}
}

#tasks-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: clamp(30%, 75vw, 400px);
	gap: 1.25rem;
	& .task {
		background-color: #fff;
		padding: 1.25rem;
		position: relative;
		transition: background-color 0.3s ease;
		width: 100%;
		border-radius: var(--border-radius);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		box-sizing: border-box;
		& .wrapper__btn {
			display: flex;
			gap: 1rem;
			align-items: center;
			justify-content: center;
		}
		& .checkmark {
			--width: 40px;
			--height: var(--width);
			position: absolute;
			width: var(--width);
			border: none;
			top: 50%;
			right: 15%;
			transform: translateY(-50%);
			height: var(--height);
			background: url('../assets/checkMark.svg');
			background-size: cover;
			cursor: pointer;
		}
		& .delete {
			--width: 40px;
			--height: var(--width);
			position: absolute;
			width: var(--width);
			border: none;
			top: 50%;
			right: 7.5%;
			transform: translateY(-50%);
			height: var(--height);
			background: url('../assets/xMark.svg');
			background-size: cover;
			cursor: pointer;
		}
		& h3 {
			margin: 0 auto 0.65rem;
		}
		& p {
			margin: 0;
			// padding: 0.5rem;
			background-color: #fff;
			transition: background-color 0.3s ease;
		}
		&.completed {
			background-color: var(--secondary-color);
			text-decoration: line-through;
			& p {
				background-color: var(--secondary-color);
			}
		}
	}
}
